<h1>Plugin to increase image size by given height and width:</h1>
<pre>
  $(document).ready(function(){
    SnmPageInteraction.interaction.increaseImageSizeByHeightWidth(50, 50);
  })
</pre>

<img src="/assets/about.png" alt="welcome" style="margin: 5px;">
<img src="/assets/contact.jpg" alt="welcome" style="margin: 5px;">
<img src="/assets/blog.jpg" alt="welcome" style="margin: 5px;">

<img src="/assets/about.png" alt="welcome" style="margin: 5px;">
<img src="/assets/contact.jpg" alt="welcome" style="margin: 5px;">
<img src="/assets/blog.jpg" alt="welcome" style="margin: 5px;">

<img src="/assets/about.png" alt="welcome" style="margin: 5px;">
<img src="/assets/contact.jpg" alt="welcome" style="margin: 5px;">
<img src="/assets/blog.jpg" alt="welcome" style="margin: 5px;">

<img src="/assets/about.png" alt="welcome" style="margin: 5px;">
<img src="/assets/contact.jpg" alt="welcome" style="margin: 5px;">
<img src="/assets/blog.jpg" alt="welcome" style="margin: 5px;">

<img src="/assets/about.png" alt="welcome" style="margin: 5px;">
<img src="/assets/contact.jpg" alt="welcome" style="margin: 5px;">
<img src="/assets/blog.jpg" alt="welcome" style="margin: 5px;">

<script type="text/javascript">
  $(document).ready(function(){
    SnmPageInteraction.interaction.increaseImageSizeByHeightWidth(50, 50);
  })
</script>